.instructions {
  width: 60vw;
}

header {
  background-image: url(./resources/Banner.png);
  background-size: cover;
  width: 100vw;
  height: 12.5vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(77, 179, 86);
}

.instructions {
  background-size: cover;
  width: 85vw;
  height: 110vw;
  background-image: url(./resources/instructions.png);
}

a {
  text-decoration: none;
  margin: 20px 0 0 0;
  height: 2vw;
  width: 10vw;
  font-size: 1.5vw;
  color: rgb(187, 90, 90);
  border: 2px solid grey;
  border-radius: 1vw;
  text-align: center;
  background-color: white;
}

a:hover {
  background-color: rgb(22, 151, 176);
  color: white;
}
