.instructions {
  width: 60vw;
  /* background-image: ; */
}

header {
  background-image: url(./resources/Banner.png);
  background-size: cover;
  width: 100vw;
  height: 12.5vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(77, 179, 86);
}

.instructions {
  background-size: cover;
  width: 85vw;
  height: 110vw;
  background-image: url(./resources/instructions.png);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.play_game {
  height: 3vw;
  width: 10vw;
  font-size: 1.5vw;
  color: rgb(187, 90, 90);
  border: 2px solid grey;
  border-radius: 1vw;
  text-align: center;
}
