body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 80vw;
  display: grid;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  background-image: url(./resources/PennStar4_map.png);
  background-size: cover;
}

.square {
  width: 4vw;
  height: 4vw;
}

#helicopter {
  background-image: url(./resources/helicopter.png);
  background-size: cover;
  width: 4vw;
  height: 4vw;
  border-radius: 5px;
  z-index: 2;
}

.time {
  height: 10vw;
  width: 10vw;
  font-size: 8vw;
  color: rgb(187, 90, 90);
  border: 4px solid grey;
  border-radius: 2vw;
  /* border-width: 2px solid;
  border-color: grey; */
}
