body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 80vw;
  display: grid;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  background-image: url(./resources/PennStar4_map.png);
  background-size: cover;
}

.square {
  width: 4vw;
  height: 4vw;
}

#helicopter {
  background-image: url(./resources/helicopter.png);
  background-size: cover;
  width: 4vw;
  height: 4vw;
  border-radius: 5px;
  z-index: 2;
}

.infoSection {
  display: flex;
}

.time {
  height: 4vw;
  width: 4vw;
  font-size: 3vw;
  color: rgb(187, 90, 90);
  border: 2px solid grey;
  border-radius: 1vw;
  text-align: center;
}

.startButton {
  height: 4vw;
  width: 8vw;
  font-size: 3vw;
  color: rgb(187, 90, 90);
  border: 2px solid grey;
  border-radius: 1vw;
  text-align: center;
}

.restartButton {
  height: 4vw;
  width: 12vw;
  font-size: 3vw;
  color: rgb(187, 90, 90);
  border: 2px solid grey;
  border-radius: 1vw;
  text-align: center;
}

.scoreBoard {
  height: 4vw;
  width: 4vw;
  font-size: 3vw;
  color: rgb(187, 90, 90);
  border: 2px solid grey;
  border-radius: 1vw;
  text-align: center;
}
